In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import plotly.plotly as py
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
# For Notebooks
init_notebook_mode(connected=True)

In [12]:
testdemog_df = pd.read_csv("datasets/zindi-loanpred/testdemographics.csv",
                           names=None,	# list of column names if none on csv
                          header=0)					# ignore the first row of the CSV file.
testprev_df = pd.read_csv("datasets/zindi-loanpred/testprevloans.csv",
                          header=0)
testperf_df = pd.read_csv("datasets/zindi-loanpred/testperf.csv",
                          header=0)

In [165]:
testperf_df.head()

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,referredby
0,8a858899538ddb8e015390510b321f08,301998974,4,40:48.0,39:35.0,10000,12250.0,30,NaN
1,8a858959537a097401537a4e316e25f7,301963615,10,43:40.0,42:34.0,40000,44000.0,30,NaN
2,8a8589c253ace09b0153af6ba58f1f31,301982236,6,15:11.0,15:04.0,20000,24500.0,30,NaN
3,8a858e095aae82b7015aae86ca1e030b,301971730,8,00:54.0,00:49.0,30000,34500.0,30,NaN
4,8a858e225a28c713015a30db5c48383d,301959177,4,04:33.0,04:27.0,20000,24500.0,30,NaN

In [5]:
testprev_df.head()

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,closeddate,referredby,firstduedate,firstrepaiddate
0,8a858899538ddb8e015390510b321f08,301621635,3,2016-05-17 10:37:00.000000,2016-05-17 09:36:55.000000,10000.0,13000.0,30,2016-06-17 00:04:15.000000,NaN,2016-06-16 00:00:00.000000,2016-06-16 15:44:08.000000
1,8a858959537a097401537a4e316e25f7,301810201,5,2017-02-04 21:28:59.000000,2017-02-04 20:28:52.000000,30000.0,36800.0,60,2017-03-02 16:22:58.000000,NaN,2017-03-06 00:00:00.000000,2017-03-02 16:07:47.000000
2,8a858959537a097401537a4e316e25f7,301831255,6,2017-03-04 10:28:22.000000,2017-03-04 09:28:16.000000,30000.0,34400.0,30,2017-04-02 00:44:24.000000,NaN,2017-04-03 00:00:00.000000,2017-04-01 21:29:46.000000
3,8a8589c253ace09b0153af6ba58f1f31,301627292,3,2016-06-02 14:27:14.000000,2016-06-02 13:27:08.000000,10000.0,13000.0,30,2016-07-04 11:34:04.000000,NaN,2016-07-04 00:00:00.000000,2016-07-04 11:19:01.000000
4,8a8589c253ace09b0153af6ba58f1f31,301621095,2,2016-05-16 09:13:12.000000,2016-05-16 08:13:04.000000,10000.0,11500.0,15,2016-06-02 00:02:58.000000,NaN,2016-05-31 00:00:00.000000,2016-06-01 15:22:34.000000

In [3]:
print('prev:')
print(testprev_df.columns)
print('\ndemog:')
print(testdemog_df.columns)
print('\nperf:')
print(testperf_df.columns)

prev:
Index(['customerid', 'systemloanid', 'loannumber', 'approveddate',
       'creationdate', 'loanamount', 'totaldue', 'termdays', 'closeddate',
       'referredby', 'firstduedate', 'firstrepaiddate'],
      dtype='object')

demog:
Index(['customerid', 'birthdate', 'bank_account_type', 'longitude_gps',
       'latitude_gps', 'bank_name_clients', 'bank_branch_clients',
       'employment_status_clients', 'level_of_education_clients'],
      dtype='object')

perf:
Index(['customerid', 'systemloanid', 'loannumber', 'approveddate',
       'creationdate', 'loanamount', 'totaldue', 'termdays', 'referredby'],
      dtype='object')

# Data cleaning#

**Cleaning up and merging**

In [13]:
# remove the repeated rows for each costuomerid in demographics
testdemog_df.drop_duplicates(subset=['customerid'], inplace=True)

In [ ]:
# edit the bank names to remove spaces
traindemog_df['bank_name_clients'] = traindemog_df['bank_name_clients'].apply(lambda x: '_'.join(x.split()))

In [14]:
# merge demographics with perfomance. Performance taking priority
merged_df = testperf_df.merge(testdemog_df, on=['customerid'], how='left')

In [15]:
# Convert timestamp strings into datetime objects
testprev_df['firstduedatestamp'] = pd.to_datetime(testprev_df['firstduedate'])
testprev_df['firstrepaiddatestamp'] = pd.to_datetime(testprev_df['firstrepaiddate'])
# Obtain the respective daysearly and dayslate values for each row. If negative set to 0
testprev_df['daysearly'] = testprev_df[['firstduedatestamp','firstrepaiddatestamp']].apply(
    lambda x: (x[0] - x[1]).days * (x[0] > x[1]), axis=1)
testprev_df['dayslate'] = testprev_df[['firstrepaiddatestamp','firstduedatestamp']].apply(
    lambda x: (x[0] - x[1]).days * (x[0] > x[1]), axis=1)
# Average duration before approval for prev loans
testprev_df['approveddatestamp'] = pd.to_datetime(testprev_df['approveddate'])
testprev_df['creationdatestamp'] = pd.to_datetime(testprev_df['creationdate'])
testprev_df['b4approval'] = testprev_df[['approveddatestamp','creationdatestamp']].apply(
    lambda x: (x[0] - x[1]).seconds/60, axis=1)
# Drop the timestamp str columns
testprev_df.drop(
    columns=['creationdatestamp', 'approveddatestamp','firstduedate','firstrepaiddate'], inplace=True)

In [16]:
# New dataframe with the new columns
termdays = testprev_df.groupby('customerid')['termdays'].mean()
daysearly = testprev_df.groupby('customerid')['daysearly'].mean()
dayslate = testprev_df.groupby('customerid')['dayslate'].mean()
loanamount = testprev_df.groupby('customerid')['loanamount'].mean()
referredby = testprev_df.groupby('customerid')['referredby'].unique()
av_wait_time = testprev_df.groupby('customerid')['b4approval'].mean()
closedates = testprev_df.groupby('customerid')['closeddate'].unique().to_frame()
testprev_df_ = termdays.to_frame()
testprev_df_.rename(columns={"termdays": "prev_termdaysmean"}, inplace=True)
testprev_df_['prev_daysearlymean'] = daysearly
testprev_df_['prev_dayslatemean'] = dayslate
testprev_df_['prev_loanamountmean'] = loanamount
testprev_df_['referred'] = referredby
testprev_df_['prev_wait_timemean'] = av_wait_time
testprev_df_['prev_referredcount'] = testprev_df_['referred'].apply(
    lambda x: sum(~pd.isna(x)))
testprev_df_['recent_closeddate'] = closedates['closeddate'].apply(lambda x: sorted(x)[-1])
testprev_df_.drop(
    columns=['referred'], inplace=True)
testprev_df_.reset_index(inplace=True)

In [17]:
# merge new columns to the existing merged df. Existing merged df taking priority
merged_df = merged_df.merge(testprev_df_, on=['customerid'], how='left')

In [156]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1450 entries, 0 to 1449
Data columns (total 23 columns):
customerid                    1450 non-null object
systemloanid                  1450 non-null int64
loannumber                    1450 non-null int64
approveddate                  1450 non-null object
creationdate                  1450 non-null object
loanamount                    1450 non-null int64
totaldue                      1450 non-null float64
termdays                      1450 non-null int64
referredby                    184 non-null object
birthdate                     385 non-null object
bank_account_type             385 non-null object
longitude_gps                 385 non-null float64
latitude_gps                  385 non-null float64
bank_name_clients             385 non-null object
bank_branch_clients           4 non-null object
employment_status_clients     332 non-null object
level_of_education_clients    47 non-null object
prev_termdaysmean             1442 non-null float64
prev_daysearlymean            1442 non-null float64
prev_dayslatemean             1442 non-null float64
prev_loanamountmean           1442 non-null float64
prev_referredcount            1442 non-null float64
recent_closeddate             1442 non-null object
dtypes: float64(8), int64(4), object(11)
memory usage: 271.9+ KB

In [103]:
merged_df.head()

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,referredby,birthdate,...,bank_name_clients,bank_branch_clients,employment_status_clients,level_of_education_clients,prev_termdaysmean,prev_daysearlymean,prev_dayslatemean,prev_loanamountmean,prev_referredcount,recent_closeddate
0,8a858899538ddb8e015390510b321f08,301998974,4,40:48.0,39:35.0,10000,12250.0,30,NaN,NaN,...,NaN,NaN,NaN,NaN,25.000000,0.000000,3.666667,8666.666667,0.0,2016-06-17 00:04:15.000000
1,8a858959537a097401537a4e316e25f7,301963615,10,43:40.0,42:34.0,40000,44000.0,30,NaN,NaN,...,NaN,NaN,NaN,NaN,31.666667,3.222222,0.111111,23888.888889,0.0,2017-07-04 12:50:28.000000
2,8a8589c253ace09b0153af6ba58f1f31,301982236,6,15:11.0,15:04.0,20000,24500.0,30,NaN,1981-09-05 00:00:00.000000,...,UBA,NaN,Permanent,NaN,27.000000,0.400000,4.400000,13000.000000,0.0,2017-07-17 13:13:01.000000
3,8a858e095aae82b7015aae86ca1e030b,301971730,8,00:54.0,00:49.0,30000,34500.0,30,NaN,NaN,...,NaN,NaN,NaN,NaN,17.142857,2.285714,0.000000,17142.857143,0.0,2017-07-10 12:51:05.000000
4,8a858e225a28c713015a30db5c48383d,301959177,4,04:33.0,04:27.0,20000,24500.0,30,NaN,1975-08-25 00:00:00.000000,...,UBA,NaN,Permanent,NaN,25.000000,2.666667,0.000000,10000.000000,0.0,2017-07-01 16:14:01.000000

In [146]:
testprev_df_.head()

,customerid,prev_termdaysmean,prev_daysearlymean,prev_dayslatemean,prev_loanamountmean,prev_referredcount,recent_closeddate
0,8a28afc7474813a40147639ec637156b,31.5,2.700000,0.000000,17800.000000,0,2017-07-26 09:11:44.000000
1,8a3735d5518aba7301518ac34413010d,27.5,12.166667,0.333333,11666.666667,0,2017-06-27 10:30:57.000000
2,8a76e7d443e6e97c0143ed099d102b1d,15.0,1.000000,0.000000,10000.000000,0,2016-07-13 13:43:10.000000
3,8a818823525dceef01525deda2480384,40.0,0.333333,0.555556,18888.888889,0,2017-07-03 14:11:07.000000
4,8a818926522ea5ef01523aff15c37482,30.0,0.000000,8.500000,10000.000000,0,2016-04-07 00:02:09.000000

In [18]:
# Age
# Convert timestamp strings into datetime objects
# Note, approvaldate & creationdate columns are in mm:ss.ms format
# No year provided for current loan approval date. Need to use last close date for prev loans
merged_df['birthdatestamp'] = pd.to_datetime(merged_df['birthdate'])
merged_df['recent_closeddatestamp'] = pd.to_datetime(merged_df['recent_closeddate'])
# age in years as at approval date
merged_df['age_years'] = merged_df[['recent_closeddatestamp','birthdatestamp']].apply(
    lambda x: (x[0].year - x[1].year), axis=1)
# Drop the timestamp str columns and other unnecessary columns
merged_df.drop(
    columns=['birthdate','birthdatestamp', 'recent_closeddate', 'recent_closeddatestamp', 'systemloanid', 'totaldue'],
    inplace=True)

In [19]:
# NaN
merged_df['referred'] = merged_df['referredby'].apply(lambda x: (not pd.isna(x)) * 1)
merged_df.drop(columns=['bank_branch_clients','level_of_education_clients','referredby'], inplace=True)
# Categoricals cols
merged_df['bank_account_type'].fillna(value='Other', inplace=True)
merged_df['employment_status_clients'].fillna(value='Unknown', inplace=True)
merged_df['bank_name_clients'].fillna(value='Unknown', inplace=True)

In [20]:
# column showing wait before approval since creation
# Note, approvaldate & creationdate columns are in mm:ss.ms format
# Need wait time in minutes so it should be fine
merged_df['approveddatestamp'] = pd.to_datetime(merged_df['approveddate'],format='%M:%S.%f')
merged_df['creationdatestamp'] = pd.to_datetime(merged_df['creationdate'], format='%M:%S.%f')
# duration in minutes before the loan was approved after creation
merged_df['b4approval'] = merged_df[['approveddatestamp','creationdatestamp']].apply(
    lambda x: (x[0] - x[1]).seconds/60, axis=1)
merged_df.drop(columns=['approveddate', 'creationdate', 'approveddatestamp', 'creationdatestamp'], inplace=True)

In [21]:
merged_df.info() # Note, a customer whose birthdate is given doesn't have loan history, so can't determine age

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1450 entries, 0 to 1449
Data columns (total 18 columns):
customerid                   1450 non-null object
loannumber                   1450 non-null int64
loanamount                   1450 non-null int64
termdays                     1450 non-null int64
bank_account_type            1450 non-null object
longitude_gps                385 non-null float64
latitude_gps                 385 non-null float64
bank_name_clients            1450 non-null object
employment_status_clients    1450 non-null object
prev_termdaysmean            1442 non-null float64
prev_daysearlymean           1442 non-null float64
prev_dayslatemean            1442 non-null float64
prev_loanamountmean          1442 non-null float64
prev_wait_timemean           1442 non-null float64
prev_referredcount           1442 non-null float64
age_years                    384 non-null float64
referred                     1450 non-null int64
b4approval                   1450 non-null float64
dtypes: float64(10), int64(4), object(4)
memory usage: 215.2+ KB

In [170]:
merged_df['age_years'].median()

32.0

In [27]:
print('prev_termdaysmean')
print(merged_df['prev_termdaysmean'].mean())
print('\nprev_daysearlymean')
print(merged_df['prev_daysearlymean'].mean())
print('\nprev_dayslatemean')
print(merged_df['prev_dayslatemean'].mean())
print('\nprev_wait_timemean')
print(merged_df['prev_wait_timemean'].mean())
print('\nprev_loanamountmean')
print(merged_df['prev_loanamountmean'].mean())
print('\nprev_referredcount')
print(merged_df['prev_referredcount'].mean())

prev_termdaysmean
25.45854418979215

prev_daysearlymean
3.552717896061496

prev_dayslatemean
2.1584273922187966

prev_wait_timemean
62.835135806628195

prev_loanamountmean
12685.814935995444

prev_referredcount
0.1262135922330097

In [29]:
# for now drop geoposition
merged_df_ = merged_df.drop(columns=['longitude_gps', 'latitude_gps'])

In [30]:
# Numerical cols
merged_df_['age_years'].fillna(value=merged_df['age_years'].median(), inplace=True)
merged_df_['prev_termdaysmean'].fillna(value=merged_df['prev_termdaysmean'].mean(), inplace=True)
merged_df_['prev_daysearlymean'].fillna(value=merged_df['prev_daysearlymean'].mean(), inplace=True)
merged_df_['prev_dayslatemean'].fillna(value=merged_df['prev_dayslatemean'].mean(), inplace=True)
merged_df_['prev_wait_timemean'].fillna(value=merged_df['prev_wait_timemean'].mean(), inplace=True)
merged_df_['prev_loanamountmean'].fillna(value=merged_df['prev_loanamountmean'].mean(), inplace=True)
merged_df_['prev_referredcount'].fillna(value=merged_df['prev_referredcount'].mean(), inplace=True)

In [31]:
merged_df_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1450 entries, 0 to 1449
Data columns (total 16 columns):
customerid                   1450 non-null object
loannumber                   1450 non-null int64
loanamount                   1450 non-null int64
termdays                     1450 non-null int64
bank_account_type            1450 non-null object
bank_name_clients            1450 non-null object
employment_status_clients    1450 non-null object
prev_termdaysmean            1450 non-null float64
prev_daysearlymean           1450 non-null float64
prev_dayslatemean            1450 non-null float64
prev_loanamountmean          1450 non-null float64
prev_wait_timemean           1450 non-null float64
prev_referredcount           1450 non-null float64
age_years                    1450 non-null float64
referred                     1450 non-null int64
b4approval                   1450 non-null float64
dtypes: float64(8), int64(4), object(4)
memory usage: 192.6+ KB

## Predict ##

In [32]:
# one-hot encoding
categorical_feats = ['bank_account_type', 'bank_name_clients', 'employment_status_clients']
merged_df_ = pd.get_dummies(merged_df_, columns=categorical_feats, drop_first=True)

In [33]:
merged_df_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1450 entries, 0 to 1449
Data columns (total 36 columns):
customerid                                 1450 non-null object
loannumber                                 1450 non-null int64
loanamount                                 1450 non-null int64
termdays                                   1450 non-null int64
prev_termdaysmean                          1450 non-null float64
prev_daysearlymean                         1450 non-null float64
prev_dayslatemean                          1450 non-null float64
prev_loanamountmean                        1450 non-null float64
prev_wait_timemean                         1450 non-null float64
prev_referredcount                         1450 non-null float64
age_years                                  1450 non-null float64
referred                                   1450 non-null int64
b4approval                                 1450 non-null float64
bank_account_type_Other                    1450 non-null uint8
bank_account_type_Savings                  1450 non-null uint8
bank_name_clients_Diamond Bank             1450 non-null uint8
bank_name_clients_EcoBank                  1450 non-null uint8
bank_name_clients_FCMB                     1450 non-null uint8
bank_name_clients_Fidelity Bank            1450 non-null uint8
bank_name_clients_First Bank               1450 non-null uint8
bank_name_clients_GT Bank                  1450 non-null uint8
bank_name_clients_Heritage Bank            1450 non-null uint8
bank_name_clients_Skye Bank                1450 non-null uint8
bank_name_clients_Stanbic IBTC             1450 non-null uint8
bank_name_clients_Sterling Bank            1450 non-null uint8
bank_name_clients_UBA                      1450 non-null uint8
bank_name_clients_Union Bank               1450 non-null uint8
bank_name_clients_Unity Bank               1450 non-null uint8
bank_name_clients_Unknown                  1450 non-null uint8
bank_name_clients_Wema Bank                1450 non-null uint8
bank_name_clients_Zenith Bank              1450 non-null uint8
employment_status_clients_Retired          1450 non-null uint8
employment_status_clients_Self-Employed    1450 non-null uint8
employment_status_clients_Student          1450 non-null uint8
employment_status_clients_Unemployed       1450 non-null uint8
employment_status_clients_Unknown          1450 non-null uint8
dtypes: float64(8), int64(4), object(1), uint8(23)
memory usage: 191.2+ KB

In [34]:
# set customer id as index and move target class column to last column
merged_df_.set_index('customerid', inplace=True)

In [36]:
X = merged_df_

In [40]:
features = list(X.columns)# note: not all bank names and employment labels in training data are in test data.
features

['loannumber',
 'loanamount',
 'termdays',
 'prev_termdaysmean',
 'prev_daysearlymean',
 'prev_dayslatemean',
 'prev_loanamountmean',
 'prev_wait_timemean',
 'prev_referredcount',
 'age_years',
 'referred',
 'b4approval',
 'bank_account_type_Other',
 'bank_account_type_Savings',
 'bank_name_clients_Diamond Bank',
 'bank_name_clients_EcoBank',
 'bank_name_clients_FCMB',
 'bank_name_clients_Fidelity Bank',
 'bank_name_clients_First Bank',
 'bank_name_clients_GT Bank',
 'bank_name_clients_Heritage Bank',
 'bank_name_clients_Skye Bank',
 'bank_name_clients_Stanbic IBTC',
 'bank_name_clients_Sterling Bank',
 'bank_name_clients_UBA',
 'bank_name_clients_Union Bank',
 'bank_name_clients_Unity Bank',
 'bank_name_clients_Unknown',
 'bank_name_clients_Wema Bank',
 'bank_name_clients_Zenith Bank',
 'employment_status_clients_Retired',
 'employment_status_clients_Self-Employed',
 'employment_status_clients_Student',
 'employment_status_clients_Unemployed',
 'employment_status_clients_Unknown']

In [39]:
X.head()

,loannumber,loanamount,termdays,prev_termdaysmean,prev_daysearlymean,prev_dayslatemean,prev_loanamountmean,prev_wait_timemean,prev_referredcount,age_years,...,bank_name_clients_Union Bank,bank_name_clients_Unity Bank,bank_name_clients_Unknown,bank_name_clients_Wema Bank,bank_name_clients_Zenith Bank,employment_status_clients_Retired,employment_status_clients_Self-Employed,employment_status_clients_Student,employment_status_clients_Unemployed,employment_status_clients_Unknown
customerid,,,,,,,,,,,,,,,,,,,,,
8a858899538ddb8e015390510b321f08,4,10000,30,25.000000,0.000000,3.666667,8666.666667,60.116667,0.0,32.0,...,0,0,1,0,0,0,0,0,0,1
8a858959537a097401537a4e316e25f7,10,40000,30,31.666667,3.222222,0.111111,23888.888889,60.131481,0.0,32.0,...,0,0,1,0,0,0,0,0,0,1
8a8589c253ace09b0153af6ba58f1f31,6,20000,30,27.000000,0.400000,4.400000,13000.000000,60.323333,0.0,36.0,...,0,0,0,0,0,0,0,0,0,0
8a858e095aae82b7015aae86ca1e030b,8,30000,30,17.142857,2.285714,0.000000,17142.857143,60.400000,0.0,32.0,...,0,0,1,0,0,0,0,0,0,1
8a858e225a28c713015a30db5c48383d,4,20000,30,25.000000,2.666667,0.000000,10000.000000,60.172222,0.0,42.0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
# fill in missing (3) one-hot encoded label columns with 0's
X['bank_name_clients_Keystone Bank'] = 0
X['bank_name_clients_Standard Chartered'] = 0
X['employment_status_clients_Permanent'] = 0

In [42]:
X.head()

,loannumber,loanamount,termdays,prev_termdaysmean,prev_daysearlymean,prev_dayslatemean,prev_loanamountmean,prev_wait_timemean,prev_referredcount,age_years,...,bank_name_clients_Wema Bank,bank_name_clients_Zenith Bank,employment_status_clients_Retired,employment_status_clients_Self-Employed,employment_status_clients_Student,employment_status_clients_Unemployed,employment_status_clients_Unknown,bank_name_clients_Keystone Bank,bank_name_clients_Standard Chartered,employment_status_clients_Permanent
customerid,,,,,,,,,,,,,,,,,,,,,
8a858899538ddb8e015390510b321f08,4,10000,30,25.000000,0.000000,3.666667,8666.666667,60.116667,0.0,32.0,...,0,0,0,0,0,0,1,0,0,0
8a858959537a097401537a4e316e25f7,10,40000,30,31.666667,3.222222,0.111111,23888.888889,60.131481,0.0,32.0,...,0,0,0,0,0,0,1,0,0,0
8a8589c253ace09b0153af6ba58f1f31,6,20000,30,27.000000,0.400000,4.400000,13000.000000,60.323333,0.0,36.0,...,0,0,0,0,0,0,0,0,0,0
8a858e095aae82b7015aae86ca1e030b,8,30000,30,17.142857,2.285714,0.000000,17142.857143,60.400000,0.0,32.0,...,0,0,0,0,0,0,1,0,0,0
8a858e225a28c713015a30db5c48383d,4,20000,30,25.000000,2.666667,0.000000,10000.000000,60.172222,0.0,42.0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
correct_features = ['loannumber',
 'loanamount',
 'termdays',
 'prev_termdaysmean',
 'prev_daysearlymean',
 'prev_dayslatemean',
 'prev_loanamountmean',
 'prev_wait_timemean',
 'prev_referredcount',
 'age_years',
 'referred',
 'b4approval',
 'bank_account_type_Other',
 'bank_account_type_Savings',
 'bank_name_clients_Diamond Bank',
 'bank_name_clients_EcoBank',
 'bank_name_clients_FCMB',
 'bank_name_clients_Fidelity Bank',
 'bank_name_clients_First Bank',
 'bank_name_clients_GT Bank',
 'bank_name_clients_Heritage Bank',
 'bank_name_clients_Keystone Bank',
 'bank_name_clients_Skye Bank',
 'bank_name_clients_Stanbic IBTC',
 'bank_name_clients_Standard Chartered',
 'bank_name_clients_Sterling Bank',
 'bank_name_clients_UBA',
 'bank_name_clients_Union Bank',
 'bank_name_clients_Unity Bank',
 'bank_name_clients_Unknown',
 'bank_name_clients_Wema Bank',
 'bank_name_clients_Zenith Bank',
 'employment_status_clients_Permanent',
 'employment_status_clients_Retired',
 'employment_status_clients_Self-Employed',
 'employment_status_clients_Student',
 'employment_status_clients_Unemployed',
 'employment_status_clients_Unknown']

In [62]:
correct_features

['loannumber',
 'loanamount',
 'termdays',
 'prev_termdaysmean',
 'prev_daysearlymean',
 'prev_dayslatemean',
 'prev_loanamountmean',
 'prev_wait_timemean',
 'prev_referredcount',
 'age_years',
 'referred',
 'b4approval',
 'bank_account_type_Other',
 'bank_account_type_Savings',
 'bank_name_clients_Diamond Bank',
 'bank_name_clients_EcoBank',
 'bank_name_clients_FCMB',
 'bank_name_clients_Fidelity Bank',
 'bank_name_clients_First Bank',
 'bank_name_clients_GT Bank',
 'bank_name_clients_Heritage Bank',
 'bank_name_clients_Keystone Bank',
 'bank_name_clients_Skye Bank',
 'bank_name_clients_Stanbic IBTC',
 'bank_name_clients_Standard Chartered',
 'bank_name_clients_Sterling Bank',
 'bank_name_clients_UBA',
 'bank_name_clients_Union Bank',
 'bank_name_clients_Unity Bank',
 'bank_name_clients_Unknown',
 'bank_name_clients_Wema Bank',
 'bank_name_clients_Zenith Bank',
 'employment_status_clients_Permanent',
 'employment_status_clients_Retired',
 'employment_status_clients_Self-Employed',
 'employment_status_clients_Student',
 'employment_status_clients_Unemployed',
 'employment_status_clients_Unknown']

In [64]:
# Ensure the order of column in the test set is in the same order than in train set
X = X[correct_features]

In [65]:
X.head()

,loannumber,loanamount,termdays,prev_termdaysmean,prev_daysearlymean,prev_dayslatemean,prev_loanamountmean,prev_wait_timemean,prev_referredcount,age_years,...,bank_name_clients_Unity Bank,bank_name_clients_Unknown,bank_name_clients_Wema Bank,bank_name_clients_Zenith Bank,employment_status_clients_Permanent,employment_status_clients_Retired,employment_status_clients_Self-Employed,employment_status_clients_Student,employment_status_clients_Unemployed,employment_status_clients_Unknown
customerid,,,,,,,,,,,,,,,,,,,,,
8a858899538ddb8e015390510b321f08,4,10000,30,25.000000,0.000000,3.666667,8666.666667,60.116667,0.0,32.0,...,0,1,0,0,0,0,0,0,0,1
8a858959537a097401537a4e316e25f7,10,40000,30,31.666667,3.222222,0.111111,23888.888889,60.131481,0.0,32.0,...,0,1,0,0,0,0,0,0,0,1
8a8589c253ace09b0153af6ba58f1f31,6,20000,30,27.000000,0.400000,4.400000,13000.000000,60.323333,0.0,36.0,...,0,0,0,0,0,0,0,0,0,0
8a858e095aae82b7015aae86ca1e030b,8,30000,30,17.142857,2.285714,0.000000,17142.857143,60.400000,0.0,32.0,...,0,1,0,0,0,0,0,0,0,1
8a858e225a28c713015a30db5c48383d,4,20000,30,25.000000,2.666667,0.000000,10000.000000,60.172222,0.0,42.0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
loadedScaler = joblib.load('datasets/zindi-loanpred/scaler.pckl')
loadedScaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [67]:
scaler = StandardScaler()
scaler.fit(X)

/home/peterm/.local/share/virtualenvs/sk-eLjZDZHf/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning:

Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.

StandardScaler(copy=True, with_mean=True, with_std=True)

In [75]:
scaled_features = loadedScaler.transform(X)
df_feat = pd.DataFrame(scaled_features, columns=X.columns)

/home/peterm/.local/share/virtualenvs/sk-eLjZDZHf/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning:

Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.

In [76]:
df_feat.head()

,loannumber,loanamount,termdays,prev_termdaysmean,prev_daysearlymean,prev_dayslatemean,prev_loanamountmean,prev_wait_timemean,prev_referredcount,age_years,...,bank_name_clients_Unity Bank,bank_name_clients_Unknown,bank_name_clients_Wema Bank,bank_name_clients_Zenith Bank,employment_status_clients_Permanent,employment_status_clients_Retired,employment_status_clients_Self-Employed,employment_status_clients_Student,employment_status_clients_Unemployed,employment_status_clients_Unknown
0,-0.153647,-0.589504,0.158956,-0.017151,-0.725028,0.141057,-0.808284,-0.156695,-0.423002,-0.040724,...,-0.024394,1.542374,-0.064062,-0.245696,-0.99229,-0.023042,-0.23586,-0.174579,-0.071663,1.164877
1,1.662877,2.480043,0.158956,0.992153,0.053169,-0.383233,2.808521,-0.155567,-0.423002,-0.040724,...,-0.024394,1.542374,-0.064062,-0.245696,-0.99229,-0.023042,-0.23586,-0.174579,-0.071663,1.164877
2,0.451861,0.433678,0.158956,0.285640,-0.628424,0.249191,0.221318,-0.140966,-0.423002,0.756481,...,-0.024394,-0.692331,-0.064062,-0.245696,-0.99229,-0.023042,-0.23586,-0.174579,-0.071663,-0.952828
3,1.057369,1.456861,0.158956,-1.206689,-0.173006,-0.399617,1.205662,-0.135131,-0.423002,-0.040724,...,-0.024394,1.542374,-0.064062,-0.245696,-0.99229,-0.023042,-0.23586,-0.174579,-0.071663,1.164877
4,-0.153647,0.433678,0.158956,-0.017151,-0.081003,-0.399617,-0.491483,-0.152467,-0.423002,1.952288,...,-0.024394,-0.692331,-0.064062,-0.245696,-0.99229,-0.023042,-0.23586,-0.174579,-0.071663,-0.952828

**Load model**

In [48]:
from sklearn.externals import joblib

In [58]:
loadedModel = joblib.load('datasets/zindi-loanpred/clfModel-1403-2.pckl')
loadedModel

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=500,
              n_iter_no_change=None, presort='auto', random_state=42,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [77]:
predictions = loadedModel.predict(scaled_features)
predictions

array(['Good', 'Good', 'Bad', ..., 'Good', 'Good', 'Good'], dtype=object)

In [80]:
pd.Series(predictions)

0       Good
1       Good
2        Bad
3       Good
4        Bad
5       Good
6       Good
7       Good
8       Good
9       Good
10      Good
11      Good
12      Good
13      Good
14      Good
15      Good
16      Good
17      Good
18      Good
19      Good
20      Good
21      Good
22      Good
23      Good
24       Bad
25      Good
26      Good
27      Good
28      Good
29      Good
        ...
1420    Good
1421    Good
1422    Good
1423    Good
1424    Good
1425    Good
1426    Good
1427    Good
1428    Good
1429    Good
1430    Good
1431    Good
1432     Bad
1433    Good
1434    Good
1435    Good
1436     Bad
1437    Good
1438    Good
1439    Good
1440    Good
1441    Good
1442    Good
1443    Good
1444    Good
1445    Good
1446    Good
1447    Good
1448    Good
1449    Good
Length: 1450, dtype: object

In [92]:
results = pd.DataFrame(data =predictions, index=X.index, columns={'Good_Bad_flag'} )
results.head()

                                 Good_Bad_flag
customerid
8a858899538ddb8e015390510b321f08          Good
8a858959537a097401537a4e316e25f7          Good
8a8589c253ace09b0153af6ba58f1f31           Bad
8a858e095aae82b7015aae86ca1e030b          Good
8a858e225a28c713015a30db5c48383d           Bad

In [96]:
target = ['Good_Bad_flag']
results_ = pd.get_dummies(results, columns=target, drop_first=True)
results_.head()

                                  Good_Bad_flag_Good
customerid
8a858899538ddb8e015390510b321f08                   1
8a858959537a097401537a4e316e25f7                   1
8a8589c253ace09b0153af6ba58f1f31                   0
8a858e095aae82b7015aae86ca1e030b                   1
8a858e225a28c713015a30db5c48383d                   0

In [99]:
results_.rename(columns={'Good_Bad_flag_Good':'Good_Bad_flag'}, inplace=True)
results_.head()

                                  Good_Bad_flag
customerid
8a858899538ddb8e015390510b321f08              1
8a858959537a097401537a4e316e25f7              1
8a8589c253ace09b0153af6ba58f1f31              0
8a858e095aae82b7015aae86ca1e030b              1
8a858e225a28c713015a30db5c48383d              0

In [109]:
results_['Good_Bad_flag'].value_counts()

1    1351
0      99
Name: Good_Bad_flag, dtype: int64

In [100]:
results_.to_csv(path_or_buf='datasets/zindi-loanpred/submission.csv')